body{
    background-image: linear-gradient(to right , #fc2803 , #fc5a03);
    margin-top: 200px;
}
.register-left{
    color: white;
    font-family: serif;
    text-align: center;
}
.register-left p{
    padding-top: 10px;
}
.register-left button{
    background-color: black;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    border: 3px solid black;
}
.register-left button:hover{
    background-color: white;
    color: black;
    border-radius: 40px;
    font-weight: 500;
    border: 3px solid black;
    transition: 0.5s;
}
.register-right{
    text-align: center;
    background-color: white;
    padding: 40px 0;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
    width: 400px;
    height: 350px;
    padding-left: 90px;
}
.register-right .form-group{
    margin: 10px 0;
}
.register-left img{
    height: 70px;
    width: 70px;
    animation: mover 1s infinite alternate;
}
@keyframes mover {
    0%{transform: translateY(0);}
    100%{transform: translateY(-20px);}
}
.register-right h2{
    margin-left: 30px;
}
.register-right button{
    background-color: #fc5a03;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    border: 3px solid #fc5a03;
    margin-top: 10px;
}
.register-right button:hover{
    background-color: white;
    color: black;
    border-radius: 40px;
    font-weight: 500;
    border: 3px solid black;
    transition: 0.5s;
    margin-top: 10px;
}